<!DOCTYPE html>
<head>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.widgets.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/theme.bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <title>Diaspora Debian Status</title>
    <script>
$(function(){
    $.extend($.tablesorter.themes.bootstrap, {
        table      : 'table table-bordered',
        header     : 'bootstrap-header',
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up',
        sortDesc   : 'icon-chevron-down',
    });

    $('table').tablesorter({
        theme : "bootstrap",
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ],
        usNumberFormat : false,
        sortReset      : true,
        sortRestart    : true
    });
});
    </script>
</head>
<body class="container">
    <center><h1>Debian Diaspora Packaging Status</h1></center>
    <div class="row well">
        <table class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Gem</th>
                    <th>Debian Version</th>
                    <th>Gem Version</th>
                </tr>
            </thead>
            {% for gem in gemlist %}
            <tr class="{{ status[gem] }}">
                <td>{{gem}}</a></td>
                <td>{{ debian[gem] }}</td>
                <td>{{ ruby[gem] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
